.navbar-default {
  padding: 15px 0px;
  background-color: white;
  border: 0;
}

.navbar-brand img {
  margin-top: -1.3889rem;
  max-height: 3.889rem;
}

.navbar-default .navbar-nav>li>a {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: $primary-color;
  border-left: normal $primary-color;

  &:hover, &:focus, &:active {
    color: $primary-color;
  }

  &.grey {
    color: $grey;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
