.bg-grey {
  background-color: $background-grey;
}

.logo {
  max-width: 6rem;
  margin-top: 1.5rem;
}

#intro {
  position: relative;
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  .main-content {
    padding: 4rem 0;

    h1, h2, h3 {
      text-shadow: 0px 1px 2px rgba(100,100,100,0.75);
    }
  }
}

.photo-caption {
  color: white;
  font-size: 0.9rem;
  text-shadow: 0px 1px 2px rgba(100,100,100,0.75);
  margin: 0;
  position: absolute;
  right: 1rem;
  bottom: 0.33rem;
}

.img-person {
  max-height: 8rem;
}

footer {
  p {
    padding: 2rem 0;
  }
}
